*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-main: "Inter", sans-serif;

    --color-primary: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900:hsl(0, 0%, 8%);

    --typography-paragraph: 14px;

    --spacing-small: .9rem;
    --spacing-medium: 1.5rem;
    --spacing-large: 2rem;
}

html {
    height: 100%;
}

body {
    color: var(--color-white);
    font-family: var(--font-main);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    height: 100%;
}

.main-container {
    position: relative;
    height: 100%;
    background-color: var(--color-grey-900);
    
    display: grid;
    place-items: center;
}

.card {
    padding: 2.5rem;
    border-radius: .5rem;

    background-color: var(--color-grey-800);
}

.profile {
    text-align: center;
}

.button {
    background-color: var(--color-grey-700);
    text-align: center;

    border-radius: .4rem;
    padding: var(--spacing-small);

    font-weight: 700;
    transition: all .2s;

    cursor: pointer;
}

.button:hover {
    color: var(--color-grey-800);
    background-color: var(--color-primary);
}

#social-networking-buttons {
    display: flex;
    flex-direction: column;
    font-size: var(--typography-paragraph);
    gap: var(--spacing-small);
}

#user-card {
    width: 90%;
    max-width: 37.5rem;
}

#user-avatar {
    background-image: url(./assets/images/avatar-jessica.jpeg);
    background-position: center;
    background-size: cover;
    width: 7rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    margin: 0 auto;
    margin-bottom: var(--spacing-large);
    margin-top: var(--spacing-small);
}

#user-name {
    margin-bottom: var(--spacing-small);
}

#user-location {
    margin-bottom: var(--spacing-large);

    font-weight: 600;
    font-size: var(--typography-paragraph);
    color: var(--color-primary);
}

#user-bio {
    margin-bottom: var(--spacing-medium);
    font-size: var(--typography-paragraph);
}
